/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form .rating {
  margin-bottom: 10px;
}

form .rating input {
  display: none;
}

form .rating label {
  font-size: 45px;
  color: #ccc;
  cursor: pointer;
}

form .rating input:checked ~ label {
  color: #ffcc00;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

form .rating label:hover,
form .rating input:checked ~ label {
  color: #ffcc00;
}

.logo-style {
  width: 150px;
  height: 70px
}

#comments {
  width: 100% !important
}

.emoji-style {
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-left: 5px;
}

@media only screen and (min-width: 768px) {
  #comments {
    width: 50% !important
  }

  .emoji-style {
    width: 50px;
    height: 50px;
  }

  form .rating label {
    font-size: 60px;
  }
}

.confirm-delivery {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.confirm-delivery-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

.options {
  display: none;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.options p {
  margin-bottom: 10px;
  color: #555;
}

.options button {
  margin: 5px;
  background-color: #3498db;
}
#confirmationMessage {
  margin-top: 20px;
  color: #333;
}